/* "Create Meetup Group" button */
.create-group {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #ed1c31));
	background:-moz-linear-gradient(top, #d0451b 5%, #ed1c31 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #ed1c31 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #ed1c31 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #ed1c31 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #ed1c31 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#ed1c31',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.create-group:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ed1c31), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #ed1c31 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #ed1c31 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #ed1c31 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #ed1c31 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #ed1c31 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c31', endColorstr='#d0451b',GradientType=0);
	background-color:#ed1c31;
}
.create-group:active {
	position:relative;
	top:1px;
}
