body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.debug {
  font-style: oblique;
  background-color: orange;
  visibility: hidden;
}

.list-container {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

/* for the "add this member" list of members */
.member-list { display: table; text-align: left; }
.member-list-item { display: table-row; }
/*.member-list { display: table; }
.member-list-item { display: table-row; }
.member-list-item ul li { display: table-cell; }
.member-sublist { display: table; }
.member-sublist li { display: table-row; }
.member-sublist li ul li { display: table-cell; }*/
/* aaarrrrg */
.table {display:table; text-align: left;}
.row {display:table-row; }
.cell, .mike-cell {display:table-cell;}

.found, .from-region {
  font-style: oblique;
  font-size: small;
}
/* inherited react starter project */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.welcome-title {
  transform: rotate(180deg);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
